img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #37474F;
}

.body {
    background-color: #ECEFF1;
}

.is-hidden {
    display: none;
}

.search-form {
    width: 300px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 62px;

}

.photo-card {
    max-width: 280;
    border-radius: 4px;
    overflow: hidden;
    background-color: #CFD8DC;
    box-shadow: 5px 6px 11px -9px #000000;
}

.info {
    padding: 8px;

}

.search-block {
    height: auto;
    padding: 8px 0;
    background-color: #455A64;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}

.btn-submit {
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 4px;
    color: #263238;
    font-weight: 700;
    background-color: #B0BEC5;
    border: none;
}

.load-more {
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 4px;
    color: #CFD8DC;
    background-color: #37474F;
    border: none;
    margin: 24px 24px 24px 550px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);

}