img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #EDE7F6;
    font-family: "Work Sans", sans-serif;
}

.is-hidden {
    display: none;
}

.container {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 62px;

}

.photo-card {
    width: 280px;
    height: 210px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 5px 6px 11px -9px #000000;
    transform: scale(1);
    transition: transform 250ms ease-out;
}

.photo-card:hover {
    transform: scale(1.04);
}

.search-block {
    height: auto;
    padding: 8px 0;
    background-color: #7C4DFF;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);

}

.search-form {
    margin: 0 auto;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 40px;

}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid #EDE7F6;
    background: #EDE7F6;
    border-radius: 20px;
    padding: 10px;
    padding-right: 100px;
    outline: none;
    transition: border-color 250ms ease-in;
    color: #311B92;
}

.input:focus {
    border-color: #7C4DFF;
}

.input::placeholder {
    color: #E1BEE7;
    font-family: "Work Sans", sans-serif;
}

.btn-submit {
    background-color: #7C4DFF;
    color: #EDE7F6;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 250ms ease-in;
}

.btn-submit:hover {
    background-color: #6200EA;
}